div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
}

span {
    font-family: 'Gill sans', 'Gill Sans MT', Calibri,'Trebuchet MS', sans-serif;
    color:beige;
    font-size: x-large;
}